.hero {
    background: url('../assets/banner-avater.png');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    position: relative;

    .hero-content {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 200px;

        @include md {
            padding-top: 100px;
        }

        @include sm{
            padding-top: 0;
        }

        .funding-badge {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5rem;
            font-size: 0.9rem;

            @include md{
                margin-bottom: 1rem;
            }

            button {
                background: rgba(0, 0, 0, 0.422);
                color: white;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                padding: 0.8rem 1rem;
                cursor: pointer;

                @include md{
                    font-size: 8px;
                }
                &:hover {
                    background: rgb(26,56,40);
                }
            }

        }

        .content_text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 60%;

            h1 {
                font-size: 60px;
                line-height: 1.2;
                text-align: center;
                color: white;

                @include md {
                    font-size: 20px;
                }
            }

            p {
                color: white;
                line-height: 1.3;
                font-size: 18px;
                text-align: center;
                margin-top: 15px;

                @include md {
                    font-size: 9px;
                }
            }
        }

        .hero-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 1rem;
            margin-top: 50px;

            @include md{
                margin-top: 10px;
            }

            .btn {
                border: none;
                padding: 0.8rem 1.5rem;
                border-radius: 8px;
                font-weight: 600;
                cursor: pointer;

                @include md{
                    padding-left: 1.1rem;
                    padding-right: 1.1rem;
                    font-size: 8px;
                }

                &.primary {
                    background: white;
                    color: black;
                }

                &.secondary {
                    background: transparent;
                    border: 1px solid white;
                    color: white;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }
        
        .hero-image {
            margin-top: 50px;
    
            @include lg {
                width: auto;
            }

            @include md{
                margin-top: 20px;
            }
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

}