$bg-dark: #000;
$table-bg: #041007;
$highlight-top: #0b3d1d;
$highlight-bottom: #05240f;
$green: #00ff7f;
$green-glow: #00ff80;
$text-light: #c8e6c9;
$text-muted: #a9bfa9;
$cross-color: #3e6141;


$primary-color: #cc3102;
$highlight-color: #facc15;
$text-color: #fff;
$background-color: #000;